
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head %>
    <title>Campground List</title>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>

    <main>
        <h1>Yelpcamp Landing Page</h1>
        <a href="/campgrounds">View all campgrounds</a>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>

</body>

</html>