
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head %>
    <title>Add New Campground</title>
</head>
<body>
    <header>
        <% include partials/header %>
    </header>
    <main>
            <h1>Add new campground</h1>

            <form action="/campgrounds" method="POST">
                <input type="text" placeholder="Name" name="name">
                <input type="text" placeholder="Image" name="image" >
                <button>Submit</button>
            </form>
            <a href="/campgrounds">Go Back</a>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>